.dataTables_wrapper .dataTables_processing {
    position: absolute;
    top: 30%;
    left: 50%;
    width: 30%;
    margin-left: -20%;
    margin-top: 50px;
    padding-top: 20px;
    text-align: center;
    font-size: 1.0em;
    background: none;
    z-index: 11000 !important;
}

#dataset-filter{
    height: 200px;
}

