<!DOCTYPE html><!--[if lt IE 9]><html class="no-js lt-ie9" lang="en" dir="ltr"><![endif]--><!--[if gt IE 8]><!-->
<html class="no-js" lang="en" dir="ltr">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <!-- Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
            wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html -->
    <title>Content page - Canada.ca
    </title>
    <meta content="width=device-width,initial-scale=1" name="viewport">
    <meta name="description"
          content="Web Experience Toolkit (WET) includes reusable components for building and maintaining innovative Web sites that are accessible, usable, and interoperable. These reusable components are open source software and free for use by departments and external Web communities">
    <!--[if gte IE 9 | !IE ]><!-->
    <link href="/src/GCWeb/assets/favicon.ico" rel="icon" type="image/x-icon">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="/src/GCWeb/css/theme.min.css">
    <!--<![endif]-->
    <!--[if lt IE 9]>
		<link href="/src/GCWeb/assets/favicon.ico" rel="shortcut icon" />

		<link rel="stylesheet" href="/src/GCWeb/css/ie8-theme.min.css" />
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.js"></script>
		<script src="/src/wet-boew/js/ie8-wet-boew.min.js"></script>
		<![endif]-->
    <!--[if lte IE 9]>


    <![endif]-->
    <noscript>
        <link rel="stylesheet" href="/src/wet-boew/css/noscript.min.css"/>
    </noscript>
</head>
<body vocab="http://schema.org/" typeof="WebPage">
<nav>
    <ul id="wb-tphp">
        <li class="wb-slc">
            <a class="wb-sl" href="#wb-cont">Skip to main content</a>
        </li>
        <li class="wb-slc">
            <a class="wb-sl" href="#wb-info">Skip to "About government"</a>
        </li>
    </ul>
</nav>
<header>
    <div id="wb-bnr" class="container">
        <section id="wb-lng" class="text-right">
            <h2 class="wb-inv">Language selection</h2>
            <ul class="list-inline margin-bottom-none">
                <li><a lang="fr" hreflang="fr" href="notes_techniques">Français</a></li>
            </ul>
        </section>
        <div class="row">
            <div class="brand col-xs-5 col-md-4" property="publisher" typeof="GovernmentOrganization">
                <a href="https://www.canada.ca/en.html" property="url"><img src="/src/GCWeb/assets/sig-blk-en.svg"
                                                                            alt=""
                                                                            property="logo"><span class="wb-inv"
                                                                                                  property="name"> Government of Canada / <span
                        lang="fr">Gouvernement du Canada</span></span></a>
                <meta property="areaServed" typeof="Country" content="Canada">
                <link property="logo" href="/src/GCWeb/assets/wmms-blk.svg">
            </div>
            <section id="wb-srch" class="col-lg-8 text-right">
                <h2>Search</h2>
                <form action="#" method="post" name="cse-search-box" role="search" class="form-inline">
                    <div class="form-group">
                        <label for="wb-srch-q" class="wb-inv">Search Canada.ca</label>
                        <input id="wb-srch-q" list="wb-srch-q-ac" class="wb-srch-q form-control" name="q" type="search"
                               value="" size="34" maxlength="170" placeholder="Search Canada.ca">
                        <datalist id="wb-srch-q-ac">
                        </datalist>
                    </div>
                    <div class="form-group submit">
                        <button type="submit" id="wb-srch-sub" class="btn btn-primary btn-small" name="wb-srch-sub">
                            <span class="glyphicon-search glyphicon"></span><span class="wb-inv">Search</span></button>
                    </div>
                </form>
            </section>
        </div>
    </div>
    <nav class="gcweb-menu" typeof="SiteNavigationElement">
        <div class="container">
            <h2 class="wb-inv">Menu</h2>
            <button type="button" aria-haspopup="true" aria-expanded="false"><span class="wb-inv">Main </span>Menu <span
                    class="expicon glyphicon glyphicon-chevron-down"></span></button>
            <ul role="menu" aria-orientation="vertical" data-ajax-replace="../static/ajax/sitemenu-v5-en.html">
                <li role="presentation"><a role="menuitem" href="https://www.canada.ca/en/services/jobs.html">Jobs and
                    the workplace</a></li>
                <li role="presentation"><a role="menuitem"
                                           href="https://www.canada.ca/en/services/immigration-citizenship.html">Immigration
                    and citizenship</a></li>
                <li role="presentation"><a role="menuitem" href="https://travel.gc.ca/">Travel and tourism</a></li>
                <li role="presentation"><a role="menuitem" href="https://www.canada.ca/en/services/business.html">Business
                    and industry</a></li>
                <li role="presentation"><a role="menuitem" href="https://www.canada.ca/en/services/benefits.html">Benefits</a>
                </li>
                <li role="presentation"><a role="menuitem"
                                           href="https://www.canada.ca/en/services/health.html">Health</a></li>
                <li role="presentation"><a role="menuitem" href="https://www.canada.ca/en/services/taxes.html">Taxes</a>
                </li>
                <li role="presentation"><a role="menuitem" href="https://www.canada.ca/en/services/environment.html">Environment
                    and natural resources</a></li>
                <li role="presentation"><a role="menuitem" href="https://www.canada.ca/en/services/defence.html">National
                    security and defence</a></li>
                <li role="presentation"><a role="menuitem" href="https://www.canada.ca/en/services/culture.html">Culture,
                    history and sport</a></li>
                <li role="presentation"><a role="menuitem" href="https://www.canada.ca/en/services/policing.html">Policing,
                    justice and emergencies</a></li>
                <li role="presentation"><a role="menuitem" href="https://www.canada.ca/en/services/transport.html">Transport
                    and infrastructure</a></li>
                <li role="presentation"><a role="menuitem"
                                           href="https://international.gc.ca/world-monde/index.aspx?lang=eng">Canada and
                    the world</a></li>
                <li role="presentation"><a role="menuitem" href="https://www.canada.ca/en/services/finance.html">Money
                    and finances</a></li>
                <li role="presentation"><a role="menuitem" href="https://www.canada.ca/en/services/science.html">Science
                    and innovation</a></li>
            </ul>
        </div>
    </nav>
    <nav id="wb-bc" property="breadcrumb">
        <h2>You are here:</h2>
        <div class="container">
            <ol class="breadcrumb">
                <li><a href="https://www.canada.ca/en.html">Home</a></li>
            </ol>
        </div>
    </nav>
</header>
<main property="mainContentOfPage" class="container" typeof="WebPageElement">
    <h1 property="name" id="wb-cont">Usual intakes from food, 2015</h1>
    <p><strong>From <a href="https://www.canada.ca/en/services/health.html" target="_blank">Health
        Canada</a></strong></p>


    {# Main content goes here #}
    <section>
        <div class="row">
            <div class="btn-group btn-group-lg btn-group-justified" style="padding:20px 0px;">
                <a class="btn btn-default toolTab" role="button"
                   href="/">About the data</a>
                <a class="btn btn-default toolTab" role="button" href="distribution">Distribution curves</a>
                <a class="btn btn-default toolTab" role="button" href="geographic">Geographic comparison</a>
                <a class="btn btn-default toolTab" role="button" href="data_table">Data table</a>
                <a class="active btn btn-default btn-primary toolTab" role="button"
                   href="technical_notes">Technical Notes</a>
            </div>
        </div>
    </section>

    <section>
        <div class="row">
            <h2>On this page</h2>

            <ul>
                <li>
                    <a href="#a3">About the 2015 CCHS-Nutrition</a>
                </li>
                <li>
                    <a href="#a4">Notes for Specific Nutrients</a>
                </li>
{#                <li>#}
{#                    <a href="#a5">Suggested citation</a>#}
{#                </li>#}
            </ul>
        </div>
        <hr>

        <div class="row">
            <p>
                The data presented in this tool were collected in the 2015 Canadian Community
                Health Survey – Nutrition (CCHS – Nutrition).
            </p>
        </div>

        <div class="row">
            <section>
                <h2 id="a3">About the 2015 Canadian Community Health Survey – Nutrition(CCHS
                    –Nutrition)</h2>

            <p>The 2015 CCHS-Nutrition is a nationally representative survey of the nutrition of
                people in Canada. The survey provides detailed information on food consumption
                using a 24-hour dietary recall for the total sample and a repeat sub-sample,
                nutrient supplement intake, physical measurements, household food insecurity,
                and other topics that support the interpretation of the 24-hour recall. The survey
                excludes those living in the three territories, individuals living on
                reserves, residents of institutions, full‐time members of the Canadian Armed
                Forces and residents of certain remote regions.</p>

            <h3>Information to support the interpretation of the data</h3>

            <p>We encourage users to read the following Health Canada publications: </p>
            <ul>
                <li>
                    <a href="https://www.canada.ca/en/health-canada/services/food-nutrition/food-nutrition-surveillance/health-nutrition-surveys/canadian-community-health-survey-cchs/reference-guide-understanding-using-data-2015.html"
                    target="_blank">Reference
                        Guide to Understanding and Using the Data - 2015 Canadian Community Health Survey –
                        Nutrition</a>
                </li>
                <li>
                    <a href="https://www.canada.ca/en/health-canada/services/food-nutrition/food-nutrition-surveillance/health-nutrition-surveys/canadian-community-health-survey-cchs/compendium-data-tables-intakes-energy-nutrients-other-food.html"
                    target="_blank">Methodology
                        document: Usual intakes from food for energy, nutrients and other dietary components
                        (2004
                        and
                        2015 Canadian Community Health Survey - Nutrition).</a>
                </li>
            </ul>

            <p>The following notes apply to the graphs and tables presented in this Data Tool.</p>
            <ol>
{#                <li>The survey excludes those living in the three territories, individuals living on reserves, residents#}
{#                    of#}
{#                    institutions, full‐time members of the Canadian Armed Forces and residents of certain remote#}
{#                    regions.#}
{#                </li>#}
                <li>The data presented in graphs and table exclude pregnant and breastfeeding
                    females, subject to another set of nutritional
                    recommendations. The sample of pregnant and breastfeeding females is not large enough to allow for
                    reliable
                    estimates at the provincial level.
                </li>
                <li>Sample size is based on the first 24‐hour dietary recall (first day of interview) only. </li>
                <li>Intakes are based on food consumption only. Intakes from vitamin and mineral supplements are not
                    included. Inferences about the prevalence of nutrient excess or inadequacy based on intakes from
                    food
                    alone
                    may respectively underestimate or overestimate the prevalence based on total nutrient intakes from
                    both
                    food
                    and supplements.
                </li>
                <li>The intake distribution (percentiles and percentage above or below a cut‐off when applicable) was
                    adjusted using the National Cancer Institute (NCI) Method as described in the <a
                            href="https://www.canada.ca/en/health-canada/services/food-nutrition/food-nutrition-surveillance/health-nutrition-surveys/canadian-community-health-survey-cchs/compendium-data-tables-intakes-energy-nutrients-other-food.html"
                    target="_blank">Methodology
                        Document</a>.
                </li>
                <li>Bootstrapping techniques were used to produce the coefficient of variation and the standard error
                    (SE).
                </li>
                <li><strong>AMDR</strong> is the Acceptable Macronutrient Distribution Range, expressed as a
                    percentage of total energy
                    intake. Intakes inside the range (shown in the AMDR columns) are associated with a reduced risk of
                    chronic
                    disease while providing adequate intakes of essential nutrients. For further information on AMDR in
                    assessing population groups, see the Health Canada publication <a
                            href="https://www.canada.ca/en/health-canada/services/food-nutrition/food-nutrition-surveillance/health-nutrition-surveys/canadian-community-health-survey-cchs/reference-guide-understanding-using-data-2015.html"
                    target="_blank">Reference
                        Guide to Understanding and
                        Using
                        the Data - 2015 Canadian Community Health Survey- Nutrition</a
                    >, Section 2.2.6 page 28.
                </li>
                <li><strong>EAR</strong> is the Estimated Average Requirement. In the context of reporting
                    results
                    in a population-based
                    survey such as the 2015 CCHS-Nutrition, the primary use of the EAR is to estimate the
                    prevalence of
                    inadequacy of some nutrients in a group. For further information on EAR and how to interpret the
                    prevalence
                    of inadequacy in a population see the Health Canada publication <a
                            href="https://www.canada.ca/en/health-canada/services/food-nutrition/food-nutrition-surveillance/health-nutrition-surveys/canadian-community-health-survey-cchs/reference-guide-understanding-using-data-2015.html"
                    target="_blank">Reference
                        Guide to Understanding and
                        Using
                        the Data - 2015 Canadian Community Health Survey – Nutrition</a>, Section 2.2.2, page 24.
                </li>
                <li><strong>AI</strong> is the Adequate Intake. The level of intake at the AI (shown in the AI
                    columns) is the
                    recommended
                    average daily intake level based on observed or experimentally determined approximations or
                    estimates of
                    nutrient intake by a group or groups of apparently healthy people that are assumed to be adequate.
                    It is
                    developed when an EAR cannot be determined. The percentage of the population having a usual intake
                    above
                    the
                    AI almost certainly meets their needs. The adequacy of intakes below the
                    AI
                    cannot be assessed, and should not be interpreted as being inadequate. For further information on AI
                    and
                    how
                    to interpret the prevalence of inadequacy in a population, see the Health Canada publication  <a
                            href="https://www.canada.ca/en/health-canada/services/food-nutrition/food-nutrition-surveillance/health-nutrition-surveys/canadian-community-health-survey-cchs/reference-guide-understanding-using-data-2015.html"
                    target="_blank">Reference
                        Guide to Understanding and
                        Using
                        the Data - 2015 Canadian Community Health Survey – Nutrition</a>, Section 2.2.4,
                    pages 25-26.
                </li>
                <li><strong>UL</strong> is the Tolerable Upper Intake Level. The level of intake at the UL
                    is the highest average daily intake level that is likely to pose no risk of adverse health effects to
                    almost all individuals in the general population. For further information on UL and how to interpret the
                    prevalence of
                    intakes above the UL in a population, see the Health Canada publication <a
                            href="https://www.canada.ca/en/health-canada/services/food-nutrition/food-nutrition-surveillance/health-nutrition-surveys/canadian-community-health-survey-cchs/reference-guide-understanding-using-data-2015.html"
                    target="_blank">Reference
                        Guide to Understanding and
                        Using
                        the Data - 2015 Canadian Community Health Survey – Nutrition</a>, Section 2.2.5, page 28. In
                    2017,
                    the Guiding Principles for Developing Dietary Reference Intakes Based on Chronic Disease recommended
                    that the UL be retained in the expanded Dietary Reference Intake (DRI) model, but that it should
                    characterize toxicological risk.
                </li>
                <li>The Chronic Disease Risk Reduction Intake (<strong>CDRR</strong>) is the
                    range of intake for which there is
                    sufficient strength of evidence to characterize a chronic disease risk reduction. For more detailed
                    understanding of the CCDR and its interpretation when assessing intakes of particular
                    nutrients, consult the
                    2017 National Academies report, <a
                            href="http://www.nationalacademies.org/hmd/Reports/2017/guiding-principles-for-developing-dietary-reference-intakes-based-on-chronic-disease.aspx"
                    target="_blank">Guiding
                        Principles for Developing Dietary Reference Intakes Based on
                        Chronic
                        Disease</a> and the <a href="https://www.nap.edu/catalog/25353/dietary-reference-intakes-for-sodium-and-potassium"
                    target="_blank">2019 National Academies report, Dietary Reference Intakes for Sodium
                        and Potassium</a>.
                </li>
                <li>For a more detailed understanding of DRIs and their interpretation when assessing intakes of
                    particular
                    nutrients, consult the summary of the series of publications on DRIs published by the Institute of
                    Medicine: <a
                            href="https://www.nap.edu/catalog/11537/dietary-reference-intakes-the-essential-guide-to-nutrient-requirements"
                    target="_blank">Dietary
                        Reference Intakes: The Essential Guide to Nutrient Requirements</a>, 2006.
                </li>
                <li>For more detailed understanding of DRIs and their interpretation when assessing intakes of sodium
                    and
                    potassium, consult the <a
                            href="https://www.nap.edu/catalog/25353/dietary-reference-intakes-for-sodium-and-potassium"
                    target="_blank">Dietary
                        Reference Intakes for Sodium and Potassium</a
                    >, 2019. 
                </li>
                <li>Data on trans-fat intake cannot be obtained from the 2015 CCHS-Nutrition dataset and therefore are
                    not
                    reported separately. However, the estimates for percent energy from total fat comprise all fats,
                    including
                    trans-fats. Note that the estimates provided for energy intake from the individual types of fat will
                    not
                    add
                    up to the estimates provided for total fat due to measurement error as well as the lack of data on
                    trans-fat
                    intake.
                </li>
                <li>In terms of precision, the estimate 0.0 with a SE of 0.0 refers to a standard error smaller than
                    0.1%.
                </li>
                <li>Data with a coefficient of variation from 16.6% to 33.3% are identified as
                    follows: (<strong>E</strong>) use with
                    caution.
                </li>
                <li>Data with a coefficient of variation greater than 33.3% with a 95% confidence interval entirely
                    between
                    0 and 3% are identified as follows: <strong> <3</strong> interpret with caution. 
                </li>
                <li>Data with a coefficient of variation greater than 33.3% were suppressed due to extreme sampling
                    variability and are identified as follows: (<strong>F</strong>) too unreliable to be
                    published.
                </li>
            </ol>


            <a class="btn btn-default btn-sm text-right col-md-1 col-md-offset-11"
               href="#wb-cont"
               style="width: 50px; margin-top: 20px; margin-bottom: 25px"
               role="button">Top
            </a> <br><br>

            </section>
        </div>

        <div class="row">
            <section>
                <h2 id="a4">Notes for Specific Nutrients</h2>

                <b>• Folacin:</b> There are two chemical forms in foods that contribute to folate
                bioactivity: naturally occurring folate called “food folate” and the added synthetic form of folate called “folic acid”. The term “folacin” is a measuring unit referring to the simple arithmetic sum of the content of both food folate and folic acid in foods (in micrograms).
                <br> <br>
                <b>• Folate:</b> Folate is a generic term that includes the naturally occurring form
            found in food and folic acid found in supplements and fortified foods. The
            requirements for folate are based on the amount of dietary folate equivalents (DFEs)
            needed to maintain red blood cell folate concentrations. DFEs adjust for differences in absorption between naturally-occurring food folate and synthetic folic acid. While there appears to be a relatively high prevalence of inadequate intakes of folate, red blood cell folate measures, an indicator of folate status, suggest a very low prevalence of folate deficiency in the Canadian population.<sup>1,2</sup>
            <br> <br>
            Women capable of becoming pregnant require special consideration when it comes to
            folate intake. To reduce the risk of neural tube defects, <a href="https://www.canada.ca/en/public-health/services/pregnancy/folic-acid.html" target="_blank">women who
                could become pregnant should take a multivitamin containing 400 µg of folic acid per
                day in addition to the amount of folate in a healthy diet.</a> Red blood
            cell folate measures suggest that some Canadian women of childbearing age have levels
            below that considered optimal for greatest reduction of risk of neural tube defects
            .<sup>1,2</sup>
                <br>
            <p class="col-md-11 col-md-offset-1"><b>References:</b></p>

            <ol class="col-md-10 col-md-offset-2">
                <li>Statistics Canada. Table  13-10-0336-01   Nutritional status of the household population. DOI:   https://doi.org/10.25318/1310033601-eng</li>
                <li>Colapinto, Cynthia K., Deborah L. O’Connor and Mark S. Tremblay. 2011. "Folate status of the population in the Canadian Health Measures Survey." Canadian Medical Association Journal. Vol. 183, no. 2. February. pp. E100 to E106. http://www.cmaj.ca/content/183/2/E100.full.pdf+html</li>
                <br>
            </ol>

            <br> <br>
            <b>• Iron:</b> Iron inadequacy was estimated using the full probability method as
            described in section 2.3.4 of <a href="https://www.canada.ca/en/health-canada/services/food-nutrition/food-nutrition-surveillance/health-nutrition-surveys/canadian-community-health-survey-cchs/compendium-data-tables-intakes-energy-nutrients-other-food.html" target="_blank">the Methodology Document</a>.
            <br> <br>
            <b>• Linolenic acid:</b> Linolenic acid is an alternative name for α‐linolenic acid (n‐3).
            <br> <br>
            <b>• Moisture:</b> The term “moisture” includes water from all food and beverage
            sources.
                <br> <br>
            <b>• Protein:</b> Although DRIs for protein have been established on a “per kg body weight” basis, no DRIs have been established for the absolute amount of protein.
            <br> <br>
                <b>• Sodium:</b> For more information on sodium intakes, please consult<a
                    href="https://www.canada.ca/en/health-canada/services/publications/food-nutrition/sodium-intake-canadians-2017.html"
                    target="_blank">Health Canada's Sodium intake of Canadians in 2017</a> report.
            <br> <br>
            <b>• Total dietary fibre:</b> Although the Institute of Medicine has established
            an Adequate Intake (AI) for total dietary fibre, no comparison is presented in
            the table (IOM, 2005). In addition to the fact that the AI for any nutrient has
            limited uses in assessing groups (Health Canada, 2017), the AI for dietary fibre
            was determined in relation to coronary heart disease risk. Health Canada’s
            definition for dietary fibre recognizes the role that fibre plays in supplying
            fermentation products to colonocytes and on laxation (Health Canada, 2010). No
            DRIs have been established for these effects. For more information on the methods
            used to analyze dietary fibre for this survey, please refer to the <a
            href="https://www.canada.ca/en/health-canada/services/food-nutrition/healthy-eating/nutrient-data/canadian-nutrient-file-compilation-canadian-food-composition-data-users-guide.html"
            target="_blank">Canadian Nutrient File – Users Guide</a>.
            <br>
                <div>
                    <p class="col-md-11 col-md-offset-1"><b>References:</b></p>
                    <br>

                    <ul class="col-md-10 col-md-offset-2">
                        <li>IOM (Institute of Medicine). Dietary Reference Intakes for energy, carbohydrate, fibre, fat, fatty acids, cholesterol, protein, and amino acids (Macronutrients). 2005. Food and Nutrition Board, Institute of Medicine. The National Academies Press, Washington, DC.</li>
                        <li>Health Canada. <a href="https://www.canada.ca/en/health-canada/services/food-nutrition/food-nutrition-surveillance/health-nutrition-surveys/canadian-community-health-survey-cchs/reference-guide-understanding-using-data-2015.html"
       target="_blank">Reference Guide to Understanding and Using the Data - 2015 Canadian Community Health Survey- Nutrition.</a> 2017.</li>
       <li>Health Canada. <a href="https://www.canada.ca/en/health-canada/services/food-nutrition/public-involvement-partnerships/proposed-policy-definition-energy-value-dietary-fibre/consultation.html"
       target="_blank">Proposed Policy: Definition and Energy Value for Dietary Fibre</a>. Food Directorate, Health Products and Food Branch, Health Canada. 2010.</li>
                        <br>
                    </ul>
                </div>

                <br> <br>

            <b>• Total energy intake:</b> The interpretation of self-reported energy intake
            should be done with caution as energy intake tends to be underestimated by survey
            respondents. The Institute of Medicine (IOM) suggests using indicators of relative
            body weight, such as the Body Mass Index (BMI), as markers of energy intake adequacy
            within groups. Statistics Canada has released 2015 CCHS – Nutrition results for
            measured BMI in <a href="https://www150.statcan.gc.ca/t1/tbl1/en/tv.action?pid=1310079401" target="_blank">adults</a><sup>1</sup> and <a href="https://www150.statcan.gc.ca/t1/tbl1/en/tv.action?pid=1310079501" target="_blank">children<sup>2</sup>.</a>
            <div>
                <p class="col-md-11 col-md-offset-1"><b>References:</b></p>

                <ol class="col-md-10 col-md-offset-2">
                    <li>Statistics Canada.  Table  13-10-0794-01   Measured adult body mass index (BMI) (World Health Organization classification), by age group and sex, Canada and provinces, Canadian Community Health Survey – Nutrition. DOI:   https://doi.org/10.25318/1310079401-eng</li>
                    <li>Statistics Canada.  Table  13-10-0795-01   Measured children and youth body mass index (BMI) (World Health Organization classification), by age group and sex, Canada and provinces, Canadian Community Health Survey – Nutrition. DOI:   https://doi.org/10.25318/1310079501-eng</li>
                    <br>
                </ol>
            </div>

                <b>• % of total EI (energy intake) from saturated fat:</b>
                <a href="https://food-guide.canada.ca/en/guidelines/"
                   target="_blank">Canada’s
                    Dietary Guidelines</a> recommend that Canadians consume less than 10% of total energy intake from saturated fat.
            <br> <br>


            <b>• Vitamin A:</b> No prevalence of intakes above the UL are shown for vitamin A. The UL for vitamin A applies to preformed vitamin A only, and those estimates had not yet been conducted at the time these tables were produced.
            <br> <br>
            <b>• Vitamin D:</b> Vitamin D is unique as it can be obtained from diet and
            supplements and can also be synthesized by the body from sunlight (UVB radiation).
            Vitamin D intake from supplements has not been considered in this assessment. While
            there appears to be a high prevalence of inadequate intakes of vitamin D from dietary
            sources, blood biomarker measures do not suggest widespread vitamin D deficiency in
            the Canadian population.<sup>1,2,3</sup> While there appears to be a low prevalence of
            vitamin D deficiency, some sub-populations may warrant further consideration.
            <div class="alert alert-warning">
                <p>Estimates of the prevalence of inadequate intakes of vitamin D from food must
                    be interpreted with caution.</p>
            </div>

            <p class="col-md-11 col-md-offset-1"><b>References:</b></p>
            <div>
                <ol class="col-md-10 col-md-offset-2">
                    <li>Langlois K, Greene-Finestone L, Little J, Hidiroglou N, Whiting S. Vitamin D status of Canadians as measured in the 2007 to 2009 Canadian Health Measures Survey. Health Rep. 2010;21(1):47–55.</li>
                    <li>Whiting SJ, Langlois KA, Vatanparast H, Greene-Finestone LS. The vitamin D status of Canadians relative to the 2011 Dietary Reference Intakes: an examination in children and adults with and without supplement use. Am J Clin Nutr. 2011;94(1):128–135. doi:10.3945/ajcn.111.013268</li>
                    <li>Statistics Canada. <a href="https://www150.statcan.gc.ca/n1/daily-quotidien/190206/dq190206c-eng.htm"
        target="_blank">Canadian Health Measures Survey: Non-environmental laboratory and medication data, 2016 and 2017</a>. The Daily. 2019.</li>
                </ol>
            </div>

            <br> <br>

            <a class="btn btn-default btn-sm text-right col-md-1 col-md-offset-11"
               href="#wb-cont"
               style="width: 50px"
               role="button">Top
            </a>

            </section>
        </div>
        <hr>
{#        <div class="row">#}
{#            <p id="a5"><strong>Suggested citation:</strong> Nutrition Surveillance Data Tool, 2021#}
{#                Edition. A joint initiative#}
{#                of#}
{#                Health Canada and#}
{#                the Public Health Agency of Canada.</p>#}
{#            <p><strong>Correspondence:</strong> Bureau of Food Surveillance and Science Integration, Food Directorate,#}
{#                Health Canada, 251#}
{#                Sir Frederick Banting Driveway, A.L. 2201E, Ottawa, ON K1A 0K9; Email:#}
{#                nutrition.surveillance-nutritionnelle@hc-sc.gc.ca</p>#}
{#            <p><strong>Acknowledgements:</strong> The development of this Data Tool was made possible through#}
{#                collaboration#}
{#                of the Public#}
{#                Health Agency of Canada (PHAC) and Health Canada. The production of the intake estimates was a joint#}
{#                venture#}
{#                between Health Canada and Statistics Canada.</p>#}
{#        </div>#}
{#        <a class="btn btn-default btn-sm text-right col-md-1 col-md-offset-11"#}
{#               href="#wb-cont"#}
{#               style="width: 50px; margin-top: 20px; margin-bottom: 25px"#}
{#               role="button">Top</a>#}
    </section>


    <div class="pagedetails">
        <div class="row">
            <div class="col-sm-6 col-md-5 col-lg-4">
                <details class="brdr-0">
                    <summary class="btn btn-default text-center">Report a problem on this page</summary>
                    <div class="well row">
                        <div class="gc-rprt-prblm">
                            <div class="gc-rprt-prblm-frm gc-rprt-prblm-tggl">
                                <form action="#">
                                    <fieldset>
                                        <legend><span class="field-name">Please select all that apply: </span></legend>
                                        <div class="checkbox">
                                            <label for="problem1"><input type="checkbox" data-reveal="#broken"
                                                                         name="problem" value="Something is broken"
                                                                         id="problem1">Something is broken</label>
                                        </div>
                                        <div class="form-group hide" id="broken">
                                            <label for="problem1-detail">Provide more details (optional):</label>
                                            <input type="text" class="form-control full-width" id="problem1-detail">
                                        </div>
                                        <div class="checkbox">
                                            <label for="problem2"><input type="checkbox" data-reveal="#spelling"
                                                                         name="problem"
                                                                         value="It has spelling or grammar mistakes"
                                                                         id="problem2">The page has spelling or grammar
                                                mistakes</label>
                                        </div>
                                        <div class="form-group hide" id="spelling">
                                            <label for="problem2-detail">Provide more details (optional):</label>
                                            <input type="text" class="form-control full-width" id="problem2-detail">
                                        </div>
                                        <div class="checkbox">
                                            <label for="problem3"><input type="checkbox" data-reveal="#wrong"
                                                                         name="problem" value="The information is wrong"
                                                                         id="problem3">The information is wrong</label>
                                        </div>
                                        <div class="form-group hide" id="wrong">
                                            <label for="problem3-detail">Provide more details (optional):</label>
                                            <input type="text" class="form-control full-width" id="problem3-detail">
                                        </div>
                                        <div class="checkbox">
                                            <label for="problem4"><input type="checkbox" data-reveal="#outdated"
                                                                         name="problem"
                                                                         value="The information is outdated"
                                                                         id="problem4">The information is
                                                outdated</label>
                                        </div>
                                        <div class="form-group hide" id="outdated">
                                            <label for="problem4-detail">Provide more details (optional):</label>
                                            <input type="text" class="form-control full-width" id="problem4-detail">
                                        </div>
                                        <div class="checkbox">
                                            <label for="problem5"><input type="checkbox" data-reveal="#find"
                                                                         name="problem"
                                                                         value="I can’t find what I’m looking for"
                                                                         id="problem5">I can’t find what I’m looking for</label>
                                        </div>
                                        <div class="form-group hide" id="find">
                                            <label for="problem5-detail">Describe what you’re looking for
                                                (optional):</label>
                                            <input type="text" class="form-control full-width" id="problem5-detail">
                                        </div>
                                        <div class="checkbox">
                                            <label for="problem6"><input type="checkbox" data-reveal="#confusing"
                                                                         name="problem" value="It’s confusing"
                                                                         id="problem6">Other</label>
                                        </div>
                                        <div class="form-group hide" id="confusing">
                                            <label for="problem6-detail">Provide more details (optional):</label>
                                            <input type="text" class="form-control full-width" id="problem6-detail">
                                        </div>
                                    </fieldset>
                                    <button type="submit" class="btn btn-primary wb-toggle"
                                            data-toggle='{"stateOff": "hide", "stateOn": "show", "selector": ".gc-rprt-prblm-tggl"}'>
                                        Submit
                                    </button>
                                </form>
                            </div>
                            <div class="gc-rprt-prblm-thnk gc-rprt-prblm-tggl hide">
                                <h3>Thank you for your help!</h3>
                                <p>You will not receive a reply. For enquiries, please <a
                                        href="https://www.canada.ca/en/contact.html">contact us</a>.</p>
                            </div>
                        </div>
                    </div>
                </details>
            </div>
            <div class="wb-share col-sm-4 col-md-3 col-sm-offset-2 col-md-offset-4 col-lg-offset-5"
                 data-wb-share='{"lnkClass": "btn btn-default btn-block"}'></div>
        </div>
        <dl id="wb-dtmd">
            <dt>Date modified:&#32;</dt>
            <dd>
                <time property="dateModified">2017-09-29</time>
            </dd>
        </dl>
    </div>
</main>
<footer id="wb-info">
    <div class="landscape">
        <nav class="container wb-navcurr">
            <h2 class="wb-inv">About government</h2>
            <ul class="list-unstyled colcount-sm-2 colcount-md-3">
                <li><a href="https://www.canada.ca/en/contact.html" target="_blank">Contact us</a></li>
                <li><a href="https://www.canada.ca/en/government/dept.html" target="_blank">Departments and
                    agencies</a></li>
                <li><a href="https://www.canada.ca/en/government/publicservice.html" target="_blank">Public
                    service and military</a>
                </li>
                <li><a href="https://www.canada.ca/en/news.html" target="_blank">News</a></li>
                <li><a href="https://www.canada.ca/en/government/system/laws.html" target="_blank">Treaties,
                    laws and regulations</a>
                </li>
                <li><a href="https://www.canada.ca/en/transparency/reporting.html" target="_blank"
                >Government-wide reporting</a></li>
                <li><a href="https://pm.gc.ca/eng" target="_blank">Prime Minister</a></li>
                <li><a href="https://www.canada.ca/en/government/system.html" target="_blank">How government
                    works</a></li>
                <li><a href="https://open.canada.ca/en/" target="_blank">Open government</a></li>
            </ul>
        </nav>
    </div>
    <div class="brand">
        <div class="container">
            <div class="row">
                <nav class="col-md-9 col-lg-10 ftr-urlt-lnk">
                    <h2 class="wb-inv">About this site</h2>
                    <ul>
                        <li><a href="https://www.canada.ca/en/social.html">Social media</a></li>
                        <li><a href="https://www.canada.ca/en/mobile.html">Mobile applications</a></li>
                        <li><a href="https://www1.canada.ca/en/newsite.html">About Canada.ca</a></li>
                        <li><a href="https://www.canada.ca/en/transparency/terms.html">Terms and conditions</a></li>
                        <li><a href="https://www.canada.ca/en/transparency/privacy.html">Privacy</a></li>
                    </ul>
                </nav>
                <div class="col-xs-6 visible-sm visible-xs tofpg">
                    <a href="#wb-cont">Top of Page <span class="glyphicon glyphicon-chevron-up"></span></a>
                </div>
                <div class="col-xs-6 col-md-3 col-lg-2 text-right">
                    <img src="/src/GCWeb/assets/wmms-blk.svg" alt="Symbol of the Government of
                    Canada">
                </div>
            </div>
        </div>
    </div>
</footer>
<!--[if gte IE 9 | !IE ]><!-->
<script src="/src/wet-boew/js/jquery/2.2.4/jquery.js"></script>
<script src="/src/wet-boew/js/wet-boew.min.js"></script>
<!--<![endif]-->
<!--[if lt IE 9]>
		<script src="/src/wet-boew/js/ie8-wet-boew2.min.js"></script>

		<![endif]-->
<script src="/src/GCWeb/js/theme.min.js"></script>
</body>
</html>