<!DOCTYPE html><!--[if lt IE 9]><html class="no-js lt-ie9" lang="fr" dir="ltr"><![endif]--><!--[if
 gt IE 8]><!-->
<html class="no-js" lang="fr" dir="ltr">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <!-- Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
            wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html -->
    <title>Content page - Canada.ca
    </title>
    <meta content="width=device-width,initial-scale=1" name="viewport">
    <meta name="description"
          content="Web Experience Toolkit (WET) includes reusable components for building and maintaining innovative Web sites that are accessible, usable, and interoperable. These reusable components are open source software and free for use by departments and external Web communities">
    <!--[if gte IE 9 | !IE ]><!-->
    <link href="../static/GCWeb/assets/favicon.ico" rel="icon" type="image/x-icon">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/GCWeb/css/theme.min.css">
    <!--<![endif]-->
    <!--[if lt IE 9]>
		<link href="../static/GCWeb/assets/favicon.ico" rel="shortcut icon" />

		<link rel="stylesheet" href="../static/GCWeb/css/ie8-theme.min.css" />
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.js"></script>
		<script src="../static/wet-boew/js/ie8-wet-boew.min.js"></script>
		<![endif]-->
    <!--[if lte IE 9]>


    <![endif]-->
    <noscript>
        <link rel="stylesheet" href="../static/wet-boew/css/noscript.min.css"/>
    </noscript>
</head>
<body vocab="http://schema.org/" typeof="WebPage">
<nav>
    <ul id="wb-tphp">
        <li class="wb-slc">
            <a class="wb-sl" href="#wb-cont">Passer au contenu principal</a>
        </li>
        <li class="wb-slc">
            <a class="wb-sl" href="#wb-info">Passer à «&nbsp;Au sujet du gouvernement&nbsp;»</a>
        </li>
    </ul>
</nav>
<header>
    <div id="wb-bnr" class="container">
        <section id="wb-lng" class="text-right">
            <h2 class="wb-inv">Sélection de la langue</h2>
            <ul class="list-inline margin-bottom-none">
                <li><a lang="en" hreflang="en" href="technical_notes">English</a></li>
            </ul>
        </section>
        <div class="row">
            <div class="brand col-xs-5 col-md-4" property="publisher" typeof="GovernmentOrganization">
                <a href="https://www.canada.ca/fr.html" property="url">
                    <img src="../static/GCWeb/assets/sig-blk-fr.svg"
                         alt="" property="logo">
                    <span class="wb-inv" property="name">  Gouvernement du Canada /
                        <span lang="en">Government of Canada</span></span>
                </a>
                <meta property="areaServed" typeof="Country" content="Canada">
                <link property="logo" href="../static/GCWeb/assets/wmms-blk.svg">
            </div>
            <section id="wb-srch" class="col-lg-8 text-right">
                <h2>Recherche</h2>
                <form action="https://canada.ca/fr/sr/srb.html" method="get" name="cse-search-box"
                      role="search" class="form-inline">
                    <div class="form-group">
                        <label for="wb-srch-q" class="wb-inv">Rechercher dans Canada.ca</label>
                        <input id="wb-srch-q" list="wb-srch-q-ac" class="wb-srch-q form-control" name="q" type="search"
                               value="" size="34" maxlength="170"
                               placeholder="Rechercher dans Canada.ca">
                        <datalist id="wb-srch-q-ac">
                        </datalist>
                    </div>
                    <div class="form-group submit">
                        <button type="submit" id="wb-srch-sub" class="btn btn-primary btn-small" name="wb-srch-sub">
                            <span class="glyphicon-search glyphicon"></span>
                            <span class="wb-inv">Recherche</span></button>
                    </div>
                </form>
            </section>
        </div>
    </div>
    <nav class="gcweb-menu wb-init gcweb-menu-inited"
         typeof="SiteNavigationElement">
        <div class="container">
            <h2 class="wb-inv">Menu</h2>
            <button type="button" aria-haspopup="true" aria-expanded="false">
                <span class="wb-inv"> principal </span>
                Menu
                <span class="expicon glyphicon glyphicon-chevron-down"></span>
            </button>
            <ul role="menu"
                aria-orientation="vertical"
                data-ajax-replace="../static/ajax/sitemenu-v5-fr.html">
{#                <li role="presentation">#}
{#                    <a role="menuitem"#}
{#                       href="https://www.canada.ca/fr/services/emplois.html">Emplois et milieu de travail#}
{#                    </a>#}
{#                </li>#}
{#                <li role="presentation">#}
{#                    <a role="menuitem"#}
{#                       href="https://www.canada.ca/fr/services/immigration-citoyennete.html">#}
{#                        Immigration et citoyenneté#}
{#                    </a>#}
{#                </li>#}
{#                <li role="presentation"><a role="menuitem" href="https://voyage.gc.ca/">Voyage et tourisme</a></li>#}
{#                <li role="presentation">#}
{#                    <a role="menuitem" href="https://www.canada.ca/fr/services/entreprises.html">#}
{#                        Entreprises et industrie#}
{#                    </a>#}
{#                </li>#}
{#                <li role="presentation">#}
{#                    <a role="menuitem"#}
{#                       href="https://www.canada.ca/fr/services/prestations.html">Prestations</a>#}
{#                </li>#}
{#                <li role="presentation"><a role="menuitem"#}
{#                                           href="https://www.canada.ca/fr/services/sante.html">Santé</a></li>#}
{#                <li role="presentation">#}
{#                    <a role="menuitem" href="https://www.canada.ca/fr/services/impots.html">Impôts</a>#}
{#                </li>#}
{#                <li role="presentation"><a role="menuitem" href="https://www.canada.ca/en/services/environment.html">Environment#}
{#                    and natural resources</a></li>#}
{#                <li role="presentation"><a role="menuitem" href="https://www.canada.ca/en/services/defence.html">National#}
{#                    security and defence</a></li>#}
{#                <li role="presentation"><a role="menuitem" href="https://www.canada.ca/en/services/culture.html">Culture,#}
{#                    history and sport</a></li>#}
{#                <li role="presentation"><a role="menuitem" href="https://www.canada.ca/en/services/policing.html">Policing,#}
{#                    justice and emergencies</a></li>#}
{#                <li role="presentation"><a role="menuitem" href="https://www.canada.ca/en/services/transport.html">Transport#}
{#                    and infrastructure</a></li>#}
{#                <li role="presentation"><a role="menuitem"#}
{#                                           href="https://international.gc.ca/world-monde/index.aspx?lang=eng">Canada and#}
{#                    the world</a></li>#}
{#                <li role="presentation"><a role="menuitem" href="https://www.canada.ca/en/services/finance.html">Money#}
{#                    and finances</a></li>#}
{#                <li role="presentation"><a role="menuitem" href="https://www.canada.ca/en/services/science.html">Science#}
{#                    and innovation</a></li>#}
            </ul>
        </div>
    </nav>
    <nav id="wb-bc" property="breadcrumb">
        <h2>Vous êtes ici :</h2>
        <div class="container">
            <ol class="breadcrumb">
                <li><a href="https://www.canada.ca/fr.html">Canada.ca</a></li>
            </ol>
        </div>
    </nav>
</header>
<main property="mainContentOfPage" class="container" typeof="WebPageElement">
    <h1 property="name" id="wb-cont">Apports usuels provenant des aliments, 2015</h1>
    <p><strong>De <a href="https://www.canada.ca/fr/services/sante.html"
                       target="_blank">Santé Canada</a></strong></p>


    {# Main content goes here #}
    <section>
        <div class="row">
            <div class="btn-group btn-group-lg btn-group-justified" style="padding:20px 0px;">
                <a class="btn btn-default toolTab" role="button" href="a_propos">À propos de l'outil de données</a>
                <a class="btn btn-default toolTab" role="button" href="distribution_fr">Courbes de
                    distribution</a>
                <a class="btn btn-default toolTab" role="button" href="geographique">Comparaison géographique</a>
                <a class="btn btn-default toolTab" role="button" href="tableau">Tableau de données</a>
                <a class="active btn btn-default btn-primary toolTab" role="button"
                   href="#">Notes techniques</a>
            </div>
        </div>
    </section>

    <section>
        <div class="row">
            <h2>On this page</h2>

            <ul>
                <li>
                    <a href="#a3">À propos de l’Enquête sur la santé dans les collectivités
                        canadiennes - Nutrition 2015 (ESCC – Nutrition 2015)</a>
                </li>
                <li>
                    <a href="#a4">Notes relatives aux nutriments spécifiques</a>
                </li>
{#                <li>#}
{#                    <a href="#a5">Suggested citation</a>#}
{#                </li>#}
            </ul>
        </div>
        <hr>

        <div class="row">
            <p>
                Les données présentées dans cet outil ont été recueillies dans le cadre
                de l’Enquête sur la santé dans les collectivités canadiennes - Nutrition
                2015 (ESCC – Nutrition 2015).
            </p>
        </div>

        <div class="row">
            <section>
                <h2 id="a3">À propos de l’Enquête sur la santé dans les collectivités
                    canadiennes - Nutrition 2015 (ESCC – Nutrition 2015)</h2>

            <p>L’ESCC- Nutrition 2015 est une enquête sur la nutrition de la population
                canadienne représentative aux niveaux national et provincial. L’enquête fournit
                des informations détaillées sur la consommation d'aliments en utilisant un rappel
                alimentaire de 24 heures sur l'ensemble de l'échantillon et d'un deuxième rappel
                effectué auprès d'un sous-échantillon, l’apport de suppléments nutritionnels, des
                mesures anthropométriques (physiques), l'insécurité alimentaire des ménages ainsi
                que d'autre sujets permettant de mieux interpréter les données du rappel de 24
                heures. L'enquête exclut les habitants des trois territoires, les personnes
                vivant dans les réserves, les résidents d'établissements, les membres à temps
                plein des Forces canadiennes et les résidents de certaines régions éloignées.</p>

            <h3>Informations pour soutenir l’interprétation des données</h3>

            <p>Nous encourageons les utilisateurs à lire les publications suivantes de Santé Canada : </p>
            <ul>
                <li>
                    <a href="https://www.canada.ca/fr/sante-canada/services/aliments-nutrition/surveillance-aliments-nutrition/sondages-sante-nutrition/enquete-sante-collectivites-canadiennes-escc/guide-reference-comprendre-utiliser-donnees-2015.html"
                    target="_blank">Guide de référence pour comprendre et utiliser les données -
                        Enquête sur la santé dans les collectivités canadiennes (ESCC) –
                        Nutrition, 2015</a>
                </li>
                <li>
                    <a href="https://www.canada.ca/fr/sante-canada/services/aliments-nutrition/surveillance-aliments-nutrition/sondages-sante-nutrition/enquete-sante-collectivites-canadiennes-escc/compendium-tableaux-donnees-apports-energie-nutriments-autres-aliments.html"
                    target="_blank">Document méthodologique :  Apports usuels provenant des
                        aliments pour l 'énergie, les nutriments et d'autres composants
                        alimentaires (Enquête sur la santé dans les collectivités canadiennes -
                        Nutrition de 2004 et 2015).</a>
                </li>
            </ul>

            <p>Les notes suivantes s'appliquent aux graphiques et tableaux présentés dans cet
                outil de données :</p>
            <ol>

                <li>Les données présentées dans les graphiques et les tableaux excluent les femmes
                    enceintes et celles qui allaitent, celles-ci faisant l'objet d'une autre
                    série de recommandations nutritionnelles. La taille de l'échantillon composé
                    des femmes enceintes et de celles qui allaitent n'est pas assez importante
                    pour permettre des estimations fiables à l'échelle provinciale.
                </li>
                <li>La taille de l'échantillon est basée sur le premier rappel de 24-heures
                    (premier jour de l'entrevue) uniquement.</li>
                <li>Les apports sont fondés sur la base de la consommation d'aliments. Les apports
                    provenant de suppléments de vitamines et de minéraux n'ont pas été inclus.
                    Les inférences sur la prévalence d'excès ou d’insuffisances en nutriments
                    fondées uniquement sur les apports alimentaires pourraient respectivement
                    sous-estimer ou surestimer les prévalences fondées sur l'apport total de
                    nutriments provenant de l'alimentation et des suppléments.
                </li>
                <li>La distribution des apports (percentiles et pourcentages supérieurs ou
                    inférieurs à une limite, le cas échéant) a été rajustée à l'aide de la
                    méthode du National Cancer Institute (NCI) telle que décrite dans le <a
                            href="https://www.canada.ca/fr/sante-canada/services/aliments-nutrition/surveillance-aliments-nutrition/sondages-sante-nutrition/enquete-sante-collectivites-canadiennes-escc/compendium-tableaux-donnees-apports-energie-nutriments-autres-aliments.html"
                    target="_blank">document méthodologique</a>.
                </li>
                <li>Des techniques bootstrap ont été utilisées pour déterminer le coefficient de
                    variation (CV) et l'erreur type (ET).
                </li>
                <li>L'<strong>EVAM</strong> est l'étendue des valeurs acceptables pour les
                    macronutriments, qui est exprimée en pourcentage de l'apport énergétique
                    total. Les apports à l'intérieur de la fourchette sont associés à un risque
                    réduit de maladies chroniques et ils représentent un apport suffisant en
                    nutriments essentiels. Pour de plus amples informations sur l'EVAM dans
                    l'évaluation des groupes de population, voir la publication de Santé
                    Canada intitulée <a
                            href="https://www.canada.ca/fr/sante-canada/services/aliments-nutrition/surveillance-aliments-nutrition/sondages-sante-nutrition/enquete-sante-collectivites-canadiennes-escc/guide-reference-comprendre-utiliser-donnees-2015.html"
                    target="_blank">Guide de référence pour comprendre et utiliser les données
                        - Enquête sur la santé dans les collectivités canadiennes -
                        Nutrition de 2015</a>, section 2.2.6, page 28.
                </li>
                <li>Le <strong>BME</strong> est le besoin moyen estimatif. Dans le contexte de la
                    communication des résultats dans des enquêtes auprès de la population telles
                    que les ESCC - Nutrition de 2004 et 2015, la principale fonction du BME est
                    d'estimer la prévalence d’insuffisance en certains nutriments dans un groupe.
                    Pour plus d'informations sur le BME et sur la manière d'interpréter la
                    prévalence des insuffisances dans une population, voir la publication de
                    Santé Canada intitulée <a
                            href="https://www.canada.ca/fr/sante-canada/services/aliments-nutrition/surveillance-aliments-nutrition/sondages-sante-nutrition/enquete-sante-collectivites-canadiennes-escc/guide-reference-comprendre-utiliser-donnees-2015.html"
                    target="_blank">Guide de référence pour comprendre et utiliser les données -
                        Enquête sur la santé dans les collectivités canadiennes -
                        Nutrition de 2015</a>, Section 2.2.2, page 24.
                </li>
                <li>L'<strong>AS</strong> est l'apport suffisant. L'apport nutritionnel représenté
                    par l'AS est l'apport quotidien moyen recommandé qui est fondé sur des
                    valeurs approximatives observées ou déterminées expérimentalement ou sur des
                    estimations de l'apport nutritionnel observé chez un ou plusieurs groupes
                    d'individus apparemment en bonne santé. L'AS est établi lorsque le BME ne
                    peut pas être déterminé. Le pourcentage de la population ayant un apport
                    usuel supérieur à l'AS comble presque certainement leurs besoins. Nous ne
                    pouvons évaluer si un apport inférieur à l'AS est inadéquat, il ne faut
                    jamais l'interpréter comme tel. Pour plus d'informations sur l'AS et sur la
                    manière d'interpréter la prévalence des insuffisances au sein d'une
                    population, consultez la publication de Santé Canada intitulée <a
                            href="https://www.canada.ca/fr/sante-canada/services/aliments-nutrition/surveillance-aliments-nutrition/sondages-sante-nutrition/enquete-sante-collectivites-canadiennes-escc/guide-reference-comprendre-utiliser-donnees-2015.html"
                    target="_blank">Guide de référence pour comprendre et utiliser les données -
                        Enquête sur la santé dans les collectivités canadiennes -
                        Nutrition de 2015</a>, section 2.2.4, pages 25-26.
                </li>
                <li>L'<strong>AMT</strong> est l'apport maximal tolérable. L'apport nutritionnel
                    représenté par l'AMT est l'apport quotidien moyen le plus élevé qui
                    n'entraîne vraisemblablement pas de risques d'effets indésirables sur la
                    santé chez la plupart des individus de la population en général. Pour plus
                    d'informations sur l'AMT et sur la manière d'interpréter la prévalence
                    d'apports supérieurs à l'AMT dans une population, voir la publication de
                    Santé Canada intitulée <a
                            href="https://www.canada.ca/fr/sante-canada/services/aliments-nutrition/surveillance-aliments-nutrition/sondages-sante-nutrition/enquete-sante-collectivites-canadiennes-escc/guide-reference-comprendre-utiliser-donnees-2015.html"
                    target="_blank">Guide de référence pour comprendre et utiliser les
                        données - Enquête sur la santé dans les collectivités canadiennes -
                        Nutrition de 2015</a>, Section 2.2.5, page 28. 1 En 2017, le document
                    Guiding Principles for Developing Dietary Reference Intakes Based on
                    Chronic Disease recommandait de maintenir l'AMT dans le modèle élargi
                    des ANREF, mais d'en caractériser le risque toxicologique.
                </li>
                <li>L'apport lié à un risque réduit de maladie chronique (<strong>RRMC</strong>)
                    est l’étendue d'apports pour laquelle il existe suffisamment de preuves
                    permettant de caractériser une réduction du risque de maladie chronique.
                    Pour une compréhension plus détaillée du RRMC et de son interprétation lors
                    de l'évaluation de l'apport en nutriments particuliers, consultez le rapport
                    2017 des National Academies, <a
                            href="https://www.nap.edu/catalog/24828/guiding-principles-for-developing-dietary-reference-intakes-based-on-chronic-disease"
                    target="_blank">Guiding
                        Principles for Developing Dietary Reference Intakes Based on
                        Chronic
                        Disease</a> et le rapport 2019 de National Academies,
                    <a href="https://www.nap.edu/catalog/25353/dietary-reference-intakes-for-sodium-and-potassium"
                    target="_blank">Dietary Reference Intakes for Sodium and Potassium</a>.
                </li>
                <li>Pour une compréhension plus détaillée des ANREF et de leur interprétation
                    lors de l'évaluation des apports en nutriments particuliers, consultez le
                    résumé de la série de publications sur les ANREF publiée par l'Institute of
                    Medicine intitulée<a
                            href="https://www.nap.edu/catalog/11537/dietary-reference-intakes-the-essential-guide-to-nutrient-requirements"
                    target="_blank">Dietary Reference Intakes: The Essential Guide to Nutrient
                        Requirements, 2006</a>.
                </li>
                <li>Pour une compréhension plus détaillée des ANREF et de leur interprétation
                    lors de l'évaluation des apports en sodium et en potassium, consultez
                    le document <a
                            href="https://www.nap.edu/catalog/25353/dietary-reference-intakes-for-sodium-and-potassium"
                    target="_blank">Dietary Reference Intakes for Sodium and Potassium, 2019</a>.
                </li>
                <li>Les données sur les apports en gras trans ne peuvent pas être obtenues à
                    partir des ensembles de données des ESCC 2015, et ne sont donc pas rapportées
                    séparément. Cependant, les estimations du pourcentage en énergie provenant
                    des gras totaux comprennent tous les types de gras, y compris les gras trans.
                    Il est à noter que l'estimation du total des apports en énergie des différents
                    types de gras individuels ne correspond pas à l'estimation du gras total en
                    raison des erreurs de mesures ainsi qu'au manque de données sur l'apport de
                    gras trans.
                </li>
                <li>En termes de précision, l'estimation 0,0 avec une erreur type de 0,0
                    correspond à une erreur type inférieure à 0,1 %.
                </li>
                <li>Les données dont le coefficient de variation (CV) se situe entre 16,6 % et
                    33,3 % sont identifiées comme suit : (<strong>E</strong>) utiliser avec prudence.
                </li>
                <li>Les données dont le CV est supérieur à 33,3 % avec un intervalle de confiance
                    à 95 % se situant entièrement entre 0 et 3 % sont identifiées comme
                    suit : <strong><3</strong>, interpréter avec prudence.
                </li>
                <li>Les données dont le CV est supérieur à 33,3 % ont été supprimées en
                    raison d'une extrême variabilité d'échantillonnage et sont identifiées
                    comme suit : (<strong>F</strong>) trop peu fiable pour être publié.
                </li>
            </ol>


            <a class="btn btn-default btn-sm text-right col-md-1 col-md-offset-11"
               href="#wb-cont"
               style="width: 135px; margin-top: 20px; margin-bottom: 25px; line-height: inherit;"
               role="button">à Haut de la page
            </a> <br><br>

            </section>
        </div>

        <div class="row">
            <section>
                <h2 id="a4">Notes relatives aux nutriments spécifiques</h2>
            <br>

                <b>• Acide linolénique :</b> Acide linolénique est un autre nom pour acide
                α‐linolénique (n‐3).
                <br> <br>

            <b>• Apport énergétique total :</b> L'interprétation de l'apport énergétique
                autodéclaré doit être faite avec prudence car les répondants ont tendance à
                sous-estimer leur apport énergétique lors d’une enquête. L'Institute of Medicine
                (IOM) suggère d'utiliser des indicateurs du poids corporel relatif, tels que
                l'indice de masse corporelle (IMC), en tant que marqueurs d'un apport
                énergétique adéquat chez des groupes. Statistique Canada a publié les résultats
                pour l'IMC mesuré chez les <a href="https://www150.statcan.gc.ca/t1/tbl1/fr/tv.action?pid=1310079401&request_locale=fr"
                               target="_blank">adultes</a><sup>1</sup> et les
                <a href="https://www150.statcan.gc.ca/t1/tbl1/fr/tv.action?pid=1310079501&request_locale=fr"
                   target="_blank">enfants<sup>2</sup></a> provenant de l’ESSC – Nutrition 2015.
            <div>
                <p class="col-md-11 col-md-offset-1"><b>Références :</b></p>

                <ol class="col-md-10 col-md-offset-2">
                    <li>Statistique Canada.  Tableau  13-10-0794-01   Indice de masse corporelle (IMC) mesuré chez les adultes (classification selon l'Organisation mondiale de la santé), selon le groupe d'âge et le sexe, Canada et provinces, Enquête sur la santé dans les collectivités canadiennes – Nutrition. DOI:  https://doi.org/10.25318/1310079401-fra</li>
                    <li>Statistique Canada.  Tableau  13-10-0795-01   Indice de masse corporelle (IMC) mesuré chez les enfants et les jeunes (classification selon l'Organisation mondiale de la santé), selon le groupe d'âge et le sexe, Canada et provinces, Enquête sur la santé dans les collectivités canadiennes – Nutrition. DOI:  https://doi.org/10.25318/1310079501-fra</li>
                    <br>
                </ol>
            </div>
            <br> <br>
                <b>• Eau totale :</b> Le terme « eau totale » inclut l’eau provenant de toutes
                les sources d’aliments et de boissons.
                <br> <br>
                <b>• Fer :</b> L'insuffisance en fer a été estimer à l'aide de la méthode
                fondée sur les probabilités totales, comme décrit à la section 2.3.4 du
                <a href="https://www.canada.ca/fr/sante-canada/services/aliments-nutrition/surveillance-aliments-nutrition/sondages-sante-nutrition/enquete-sante-collectivites-canadiennes-escc/compendium-tableaux-donnees-apports-energie-nutriments-autres-aliments.html"
                   target="_blank">document méthodologique</a>.
                <br> <br>
                <b>• Fibres alimentaires totales :</b> Bien que l'Institute of Medicine a établi
                un apport suffisant (AS) pour les fibres alimentaires totales (ION, 2005),
                aucune comparaison n’est présentée dans le tableau. En plus du fait que
                l'utilisation de l’AS est plutôt limitée quant à l'évaluation de groupes
                (Health Canada, 2017), l'AS pour les fibres alimentaires a été déterminé en
                fonction du risque de coronapathie. La définition de Santé Canada pour les
                fibres alimentaires reconnaît le rôle que les fibres jouent dans l'apport de
                produits de fermentation aux colonocytes et sur la laxation. (Health Canada, 2010)
                Aucun ANREF n'a été établi pour ces effets. Pour plus d'informations sur les
                méthodes utilisées pour analyser les fibres alimentaires pour cette enquête,
                veuillez consulter le <a
            href="https://www.canada.ca/fr/sante-canada/services/aliments-nutrition/saine-alimentation/donnees-nutritionnelles/fichier-canadien-elements-nutritifs-recueil-donnees-canadiennes-composition-aliments-guide-utilisation.html"
            target="_blank">Fichier canadien sur les éléments nutritifs - Guide de l'utilisateur</a>.
            <br>
                <div>
                    <p class="col-md-11 col-md-offset-1"><b>Références :</b></p>
                    <br>

                    <ul class="col-md-10 col-md-offset-2">
                        <li>IOM (Institute of Medicine). Dietary Reference Intakes for energy, carbohydrate, fibre, fat, fatty acids, cholesterol, protein, and amino acids (Macronutrients). 2005. Food and Nutrition Board, Institute of Medicine. The National Academies Press, Washington, DC.</li>
                        <li>Santé Canada. <a href="https://www.canada.ca/fr/sante-canada/services/aliments-nutrition/surveillance-aliments-nutrition/sondages-sante-nutrition/enquete-sante-collectivites-canadiennes-escc/guide-reference-comprendre-utiliser-donnees-2015.html"
                                             target="_blank">Guide de référence pour comprendre et utiliser les données - Enquête sur la
                            santé dans les collectivités canadiennes - Nutrition de 2015</a>,
                            2017.</li>
                        <li>Santé Canada. <a href="https://www.canada.ca/en/health-canada/services/food-nutrition/public-involvement-partnerships/proposed-policy-definition-energy-value-dietary-fibre/consultation.html"
                                             target="_blank">Politique proposée : Définition et
                            valeur énergétique des fibres alimentaires</a>. Direction des aliments,
                            Direction générale des produits de santé et des aliments,
                            Santé Canada. 2010.</li>

                    </ul>
                </div>

                <b>• Folacine :</b> Dans les aliments qui présentent une teneur en folate, ce
                dernier prend actuellement deux formes chimiques : le folate alimentaire, c’est à
                dire le folate d’origine naturelle, et l’acide folique, soit la forme synthétique
                de folate ajoutée aux aliments. Le terme « folacine » correspond à une unité de
                mesure correspondant à la simple somme arithmétique du contenu en folate
                alimentaire et en acide folique présent dans les aliments, en microgrammes.
                <br> <br>

                <b>• Folate :</b> Folate est un terme générique qui inclut la forme présente
                naturellement dans les aliments et l'acide folique présent dans les suppléments
                et les aliments enrichis. Les besoins en folate sont basés sur la quantité
                d'équivalents de folate alimentaire (EFA) nécessaire pour maintenir les
                concentrations de folate dans les globules rouges. Les EFA tiennent compte des
                différences d'absorption entre le folate alimentaire naturel et l'acide folique
                synthétique. Bien qu'il semble y avoir une prévalence relativement élevée
                d'apports insuffisants inadéquats en folate, la mesure de la
                concentration de folate dans les globules rouges, un indicateur du statut en
                folate, suggèrent une très faible prévalence de carence en folate dans la
                population canadienne.<sup>1,2</sup>
            <br> <br>
           Les femmes en âge de procréer nécessitent une attention particulière en ce qui
                concerne l'apport en folate. Pour réduire le risque d'anomalies du tube neural,
                <a href="https://www.canada.ca/fr/sante-publique/services/grossesse/acide-folique.html"
                   target="_blank">il est recommandé à toutes les femmes qui pourraient devenir
                    enceintes de prendre chaque jour un supplément multivitaminique contenant 400
                    µg d'acide folique</a>, en plus de la quantité de folate contenue dans un
                régime alimentaire sain. Les mesures de la concentration de folate dans les
                globules rouges suggèrent que certaines femmes canadiennes en âge de procréer ont
                des niveaux inférieurs à ceux considérés comme optimaux pour la plus grande
                réduction du risque d'anomalies du tube neural.
            .<sup>1,2</sup>
                <br>
            <p class="col-md-11 col-md-offset-1"><b>Références :</b></p>

            <ol class="col-md-10 col-md-offset-2">
                <li>Statistique Canada.  Tableau  13-10-0336-01   État nutritionnel de la population à domicile. DOI:  https://doi.org/10.25318/1310033601-fra</li>
                <li>Colapinto, Cynthia K., Deborah L. O’Connor and Mark S. Tremblay. 2011. "Folate status of the population in the Canadian Health Measures Survey." Canadian Medical Association Journal. Vol. 183, no. 2. February. pp. E100 to E106. http://www.cmaj.ca/content/183/2/E100.full.pdf+html</li>
                <br>
            </ol>

            <br> <br>
            <b>• Sodium :</b> Pour plus d'information sur les apports en sodium, veuillez
                consulter le rapport de Santé Canada intitulé
                <a href="https://www.canada.ca/fr/sante-canada/services/publications/aliments-et-nutrition/sodium-chez-canadiens-2017.html"
                   target="_blank">L'apport en sodium des Canadiens en 2017</a>.
            <br> <br>

                <b>• Pourcentage de l'apport énergétique total provenant des acides gras saturés
                    :</b> Les
                <a href="https://guide-alimentaire.canada.ca/fr/directrices/"
                   target="_blank">Lignes directrices canadiennes en matière d’alimentation</a>
                recommandent que les canadiens consomment moins de 10 % de l’apport énergétique
                total provenant des gras saturé.
            <br> <br>

            <b>• Protéines :</b> Bien que des ANREF pour les protéines aient été établis sur la
                base de la quantité par kg de poids corporel, aucun ANREF a été établi pour les
                quantités absolues de protéines.
            <br> <br>

            <b>• Vitamine A :</b> Aucune prévalence pour les apports en dessus du AMT n’est
                calculée pour la vitamine A. Le AMT pour la vitamine A est fixé pour la vitamine
                A préformée seulement, et ces estimations n’avaient pas encore été faites lorsque
                cet outil a été produit.
            <br> <br>

            <b>• Vitamine D :</b> La vitamine D est unique car elle peut être obtenue par
                l’alimentation et les suppléments et peut également être synthétisée dans
                l'organisme à partir de la lumière du soleil (rayonnement UVB). L'apport de
                vitamine D provenant des suppléments n'a pas été considéré dans cette analyse.
                Bien que la prévalence d'un apport insuffisant de vitamine D semble élevée, les
                mesures de biomarqueurs sanguins ne suggèrent pas que la carence en vitamine D
                soit généralisée dans la population canadienne.<sup>1,2,3</sup>
                Bien qu'il semble y avoir une faible prévalence de carence en vitamine D,
                certaines sous-populations pourraient mériter un examen plus approfondi.
            <div class="alert alert-warning">
                <p>Les estimations de la prévalence d’un apport alimentaire insuffisant en
                    vitamine D doivent être interprétées avec prudence.</p>
            </div>

            <p class="col-md-11 col-md-offset-1"><b>Références :</b></p>
            <div>
                <ol class="col-md-10 col-md-offset-2">
                    <li>Langlois K, Greene-Finestone L, Little J, Hidiroglou N, Whiting S. Vitamin D status of Canadians as measured in the 2007 to 2009 Canadian Health Measures Survey. Health Rep. 2010;21(1):47–55.</li>
                    <li>Whiting SJ, Langlois KA, Vatanparast H, Greene-Finestone LS. The vitamin D status of Canadians relative to the 2011 Dietary Reference Intakes: an examination in children and adults with and without supplement use. Am J Clin Nutr. 2011;94(1):128–135. doi:10.3945/ajcn.111.013268</li>
                    <li>Statistique Canada. <a href="https://www150.statcan.gc.ca/n1/daily-quotidien/190206/dq190206c-fra.htm"
        target="_blank">Enquête canadienne sur les mesures de la santé : Données des mesures non
                        environnementales de laboratoire et de médicaments, 2016 et 2017</a>.
                        Le Quotidien. 2019.</li>
                </ol>
            </div>

            <br> <br>

            <a class="btn btn-default btn-sm text-right col-md-1 col-md-offset-11"
               href="#wb-cont"
               style="width: 135px; margin-top: 20px; margin-bottom: 25px; line-height: inherit;"
               role="button">à Haut de la page
            </a>

            </section>
        </div>
        <hr>
{#        <div class="row">#}
{#            <p id="a5"><strong>Suggested citation:</strong> Nutrition Surveillance Data Tool, 2021#}
{#                Edition. A joint initiative#}
{#                of#}
{#                Health Canada and#}
{#                the Public Health Agency of Canada.</p>#}
{#            <p><strong>Correspondence:</strong> Bureau of Food Surveillance and Science Integration, Food Directorate,#}
{#                Health Canada, 251#}
{#                Sir Frederick Banting Driveway, A.L. 2201E, Ottawa, ON K1A 0K9; Email:#}
{#                nutrition.surveillance-nutritionnelle@hc-sc.gc.ca</p>#}
{#            <p><strong>Acknowledgements:</strong> The development of this Data Tool was made possible through#}
{#                collaboration#}
{#                of the Public#}
{#                Health Agency of Canada (PHAC) and Health Canada. The production of the intake estimates was a joint#}
{#                venture#}
{#                between Health Canada and Statistics Canada.</p>#}
{#        </div>#}
{#        <a class="btn btn-default btn-sm text-right col-md-1 col-md-offset-11"#}
{#               href="#wb-cont"#}
{#               style="width: 50px; margin-top: 20px; margin-bottom: 25px"#}
{#               role="button">Top</a>#}
    </section>


    <div class="pagedetails">
        <div class="row">
            <div class="col-sm-6 col-md-5 col-lg-4">
                <details class="brdr-0">
                    <summary class="btn btn-default text-center">Report a problem on this page</summary>
                    <div class="well row">
                        <div class="gc-rprt-prblm">
                            <div class="gc-rprt-prblm-frm gc-rprt-prblm-tggl">
                                <form action="#">
                                    <fieldset>
                                        <legend><span class="field-name">Please select all that apply: </span></legend>
                                        <div class="checkbox">
                                            <label for="problem1"><input type="checkbox" data-reveal="#broken"
                                                                         name="problem" value="Something is broken"
                                                                         id="problem1">Something is broken</label>
                                        </div>
                                        <div class="form-group hide" id="broken">
                                            <label for="problem1-detail">Provide more details (optional):</label>
                                            <input type="text" class="form-control full-width" id="problem1-detail">
                                        </div>
                                        <div class="checkbox">
                                            <label for="problem2"><input type="checkbox" data-reveal="#spelling"
                                                                         name="problem"
                                                                         value="It has spelling or grammar mistakes"
                                                                         id="problem2">The page has spelling or grammar
                                                mistakes</label>
                                        </div>
                                        <div class="form-group hide" id="spelling">
                                            <label for="problem2-detail">Provide more details (optional):</label>
                                            <input type="text" class="form-control full-width" id="problem2-detail">
                                        </div>
                                        <div class="checkbox">
                                            <label for="problem3"><input type="checkbox" data-reveal="#wrong"
                                                                         name="problem" value="The information is wrong"
                                                                         id="problem3">The information is wrong</label>
                                        </div>
                                        <div class="form-group hide" id="wrong">
                                            <label for="problem3-detail">Provide more details (optional):</label>
                                            <input type="text" class="form-control full-width" id="problem3-detail">
                                        </div>
                                        <div class="checkbox">
                                            <label for="problem4"><input type="checkbox" data-reveal="#outdated"
                                                                         name="problem"
                                                                         value="The information is outdated"
                                                                         id="problem4">The information is
                                                outdated</label>
                                        </div>
                                        <div class="form-group hide" id="outdated">
                                            <label for="problem4-detail">Provide more details (optional):</label>
                                            <input type="text" class="form-control full-width" id="problem4-detail">
                                        </div>
                                        <div class="checkbox">
                                            <label for="problem5"><input type="checkbox" data-reveal="#find"
                                                                         name="problem"
                                                                         value="I can’t find what I’m looking for"
                                                                         id="problem5">I can’t find what I’m looking for</label>
                                        </div>
                                        <div class="form-group hide" id="find">
                                            <label for="problem5-detail">Describe what you’re looking for
                                                (optional):</label>
                                            <input type="text" class="form-control full-width" id="problem5-detail">
                                        </div>
                                        <div class="checkbox">
                                            <label for="problem6"><input type="checkbox" data-reveal="#confusing"
                                                                         name="problem" value="It’s confusing"
                                                                         id="problem6">Other</label>
                                        </div>
                                        <div class="form-group hide" id="confusing">
                                            <label for="problem6-detail">Provide more details (optional):</label>
                                            <input type="text" class="form-control full-width" id="problem6-detail">
                                        </div>
                                    </fieldset>
                                    <button type="submit" class="btn btn-primary wb-toggle"
                                            data-toggle='{"stateOff": "hide", "stateOn": "show", "selector": ".gc-rprt-prblm-tggl"}'>
                                        Submit
                                    </button>
                                </form>
                            </div>
                            <div class="gc-rprt-prblm-thnk gc-rprt-prblm-tggl hide">
                                <h3>Thank you for your help!</h3>
                                <p>You will not receive a reply. For enquiries, please <a
                                        href="https://www.canada.ca/en/contact.html">contact us</a>.</p>
                            </div>
                        </div>
                    </div>
                </details>
            </div>
            <div class="wb-share col-sm-4 col-md-3 col-sm-offset-2 col-md-offset-4 col-lg-offset-5"
                 data-wb-share='{"lnkClass": "btn btn-default btn-block"}' id="wb-auto-8"></div>
        </div>
        <dl id="wb-dtmd">
            <dt>Date de modification :</dt>
            <dd>
                <time property="dateModified">2021-11-01</time>
            </dd>
        </dl>
    </div>
</main>
<footer id="wb-info">
    <div class="landscape">
        <nav class="container wb-navcurr">
            <h2 class="wb-inv">Au sujet du gouvernement</h2>
            <ul class="list-unstyled colcount-sm-2 colcount-md-3">
                <li><a href="https://www.canada.ca/fr/contact.html" target="_blank">Contactez-nous</a></li>
                <li><a href="https://www.canada.ca/fr/gouvernement/min.html" target="_blank">Ministères et
                    organismes</a></li>
                <li><a href="https://www.canada.ca/fr/gouvernement/fonctionpublique.html" target="_blank"
                >Fonction publique et force militaire</a></li>
                <li><a href="https://www.canada.ca/fr/nouvelles.html" target="_blank">Nouvelles</a></li>
                <li><a href="https://www.canada.ca/fr/gouvernement/systeme/lois.html" target="_blank">Traités,
                    lois et règlements</a></li>
                <li><a href="https://www.canada.ca/fr/transparence/rapports.html" target="_blank">Rapports à
                    l'échelle du gouvernement</a></li>
                <li><a href="https://pm.gc.ca/fra" target="_blank">Premier ministre</a></li>
                <li><a href="https://www.canada.ca/fr/gouvernement/systeme.html" target="_blank">Comment le
                    gouvernement fonctionne</a></li>
                <li><a href="https://ouvert.canada.ca/" target="_blank">Gouvernement ouvert</a></li>
            </ul>
        </nav>
    </div>
    <div class="brand">
        <div class="container">
            <div class="row">
                <nav class="col-md-9 col-lg-10 ftr-urlt-lnk">
                    <h2 class="wb-inv">À propos du site</h2>
                    <ul>
                        <li><a href="https://www.canada.ca/fr/sociaux.html">Médias sociaux</a></li>
                        <li><a href="https://www.canada.ca/fr/mobile.html">Applications mobiles</a></li>
                        <li><a href="https://www1.canada.ca/fr/nouveausite.html">À propos de Canada.ca</a></li>
                        <li><a href="https://www.canada.ca/fr/transparence/avis.html">Avis</a></li>
                        <li><a href="https://www.canada.ca/fr/transparence/confidentialite.html">Confidentialité</a></li>
                    </ul>
                </nav>
                <div class="col-xs-6 visible-sm visible-xs tofpg">
                    <a href="#wb-cont">Haut de la page <span class="glyphicon glyphicon-chevron-up"></span></a>
                </div>
                <div class="col-xs-6 col-md-3 col-lg-2 text-right">
                    <img src="../static/GCWeb/assets/wmms-blk.svg" alt="Symbole du gouvernement du Canada">
                </div>
            </div>
        </div>
    </div>
</footer>
<!--[if gte IE 9 | !IE ]><!-->
<script src="../static/wet-boew/js/jquery/2.2.4/jquery.js"></script>
<script src="../static/wet-boew/js/wet-boew.min.js"></script>
<script src="../static/wet-boew/js/i18n/fr.min.js"></script>
<!--<![endif]-->
<!--[if lt IE 9]>
		<script src="../static/wet-boew/js/ie8-wet-boew2.min.js"></script>

		<![endif]-->
<script src="../static/GCWeb/js/theme.min.js"></script>
</body>
</html>