<!DOCTYPE html><!--[if lt IE 9]><html class="no-js lt-ie9" lang="en" dir="ltr"><![endif]--><!--[if gt IE 8]><!-->
<html class="no-js" lang="en" dir="ltr">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <!-- Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
            wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html -->
    <title>Content page - Canada.ca
    </title>
    <meta content="width=device-width,initial-scale=1" name="viewport">
    <meta name="description"
          content="Web Experience Toolkit (WET) includes reusable components for building and maintaining innovative Web sites that are accessible, usable, and interoperable. These reusable components are open source software and free for use by departments and external Web communities">
    <!--[if gte IE 9 | !IE ]><!-->
    <link href="../static/GCWeb/assets/favicon.ico" rel="icon" type="image/x-icon">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/GCWeb/css/theme.min.css">
    <!--<![endif]-->
    <!--[if lt IE 9]>
		<link href="../static/GCWeb/assets/favicon.ico" rel="shortcut icon" />

		<link rel="stylesheet" href="../static/GCWeb/css/ie8-theme.min.css" />
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.js"></script>
		<script src="../static/wet-boew/js/ie8-wet-boew.min.js"></script>
		<![endif]-->
    <!--[if lte IE 9]>


    <![endif]-->
    <noscript>
        <link rel="stylesheet" href="../static/wet-boew/css/noscript.min.css"/>
    </noscript>
</head>
<body vocab="http://schema.org/" typeof="WebPage">
<nav>
    <ul id="wb-tphp">
        <li class="wb-slc">
            <a class="wb-sl" href="#wb-cont">Passer au contenu principal</a>
        </li>
        <li class="wb-slc">
            <a class="wb-sl" href="#wb-info">Passer à «&nbsp;Au sujet du gouvernement&nbsp;»</a>
        </li>
    </ul>
</nav>
<header>
    <div id="wb-bnr" class="container">
        <section id="wb-lng" class="text-right">
            <h2 class="wb-inv">Sélection de la langue</h2>
            <ul class="list-inline margin-bottom-none">
                <li><a lang="en" hreflang="en" href="/">English</a></li>
            </ul>
        </section>
        <div class="row">
            <div class="brand col-xs-5 col-md-4" property="publisher" typeof="GovernmentOrganization">
                <a href="https://www.canada.ca/fr.html" property="url">
                    <img src="../static/GCWeb/assets/sig-blk-fr.svg"
                         alt="" property="logo">
                    <span class="wb-inv" property="name">  Gouvernement du Canada /
                        <span lang="en">Government of Canada</span></span>
                </a>
                <meta property="areaServed" typeof="Country" content="Canada">
                <link property="logo" href="../static/GCWeb/assets/wmms-blk.svg">
            </div>
            <section id="wb-srch" class="col-lg-8 text-right">
                <h2>Recherche</h2>
                <form action="https://canada.ca/fr/sr/srb.html" method="get" name="cse-search-box"
                      role="search" class="form-inline">
                    <div class="form-group">
                        <label for="wb-srch-q" class="wb-inv">Rechercher dans Canada.ca</label>
                        <input id="wb-srch-q" list="wb-srch-q-ac" class="wb-srch-q form-control" name="q" type="search"
                               value="" size="34" maxlength="170"
                               placeholder="Rechercher dans Canada.ca">
                        <datalist id="wb-srch-q-ac">
                        </datalist>
                    </div>
                    <div class="form-group submit">
                        <button type="submit" id="wb-srch-sub" class="btn btn-primary btn-small" name="wb-srch-sub">
                            <span class="glyphicon-search glyphicon"></span>
                            <span class="wb-inv">Recherche</span></button>
                    </div>
                </form>
            </section>
        </div>
    </div>
    <nav class="gcweb-menu wb-init gcweb-menu-inited"
         typeof="SiteNavigationElement">
        <div class="container">
            <h2 class="wb-inv">Menu</h2>
            <button type="button" aria-haspopup="true" aria-expanded="false">
                <span class="wb-inv"> principal </span>
                Menu
                <span class="expicon glyphicon glyphicon-chevron-down"></span>
            </button>
            <ul role="menu"
                aria-orientation="vertical"
                data-ajax-replace="../static/ajax/sitemenu-v5-fr.html">
{#                <li role="presentation">#}
{#                    <a role="menuitem"#}
{#                       href="https://www.canada.ca/fr/services/emplois.html">Emplois et milieu de travail#}
{#                    </a>#}
{#                </li>#}
{#                <li role="presentation">#}
{#                    <a role="menuitem"#}
{#                       href="https://www.canada.ca/fr/services/immigration-citoyennete.html">#}
{#                        Immigration et citoyenneté#}
{#                    </a>#}
{#                </li>#}
{#                <li role="presentation"><a role="menuitem" href="https://voyage.gc.ca/">Voyage et tourisme</a></li>#}
{#                <li role="presentation">#}
{#                    <a role="menuitem" href="https://www.canada.ca/fr/services/entreprises.html">#}
{#                        Entreprises et industrie#}
{#                    </a>#}
{#                </li>#}
{#                <li role="presentation">#}
{#                    <a role="menuitem"#}
{#                       href="https://www.canada.ca/fr/services/prestations.html">Prestations</a>#}
{#                </li>#}
{#                <li role="presentation"><a role="menuitem"#}
{#                                           href="https://www.canada.ca/fr/services/sante.html">Santé</a></li>#}
{#                <li role="presentation">#}
{#                    <a role="menuitem" href="https://www.canada.ca/fr/services/impots.html">Impôts</a>#}
{#                </li>#}
{#                <li role="presentation"><a role="menuitem" href="https://www.canada.ca/en/services/environment.html">Environment#}
{#                    and natural resources</a></li>#}
{#                <li role="presentation"><a role="menuitem" href="https://www.canada.ca/en/services/defence.html">National#}
{#                    security and defence</a></li>#}
{#                <li role="presentation"><a role="menuitem" href="https://www.canada.ca/en/services/culture.html">Culture,#}
{#                    history and sport</a></li>#}
{#                <li role="presentation"><a role="menuitem" href="https://www.canada.ca/en/services/policing.html">Policing,#}
{#                    justice and emergencies</a></li>#}
{#                <li role="presentation"><a role="menuitem" href="https://www.canada.ca/en/services/transport.html">Transport#}
{#                    and infrastructure</a></li>#}
{#                <li role="presentation"><a role="menuitem"#}
{#                                           href="https://international.gc.ca/world-monde/index.aspx?lang=eng">Canada and#}
{#                    the world</a></li>#}
{#                <li role="presentation"><a role="menuitem" href="https://www.canada.ca/en/services/finance.html">Money#}
{#                    and finances</a></li>#}
{#                <li role="presentation"><a role="menuitem" href="https://www.canada.ca/en/services/science.html">Science#}
{#                    and innovation</a></li>#}
            </ul>
        </div>
    </nav>
    <nav id="wb-bc" property="breadcrumb">
        <h2>Vous êtes ici :</h2>
        <div class="container">
            <ol class="breadcrumb">
                <li><a href="https://www.canada.ca/fr.html">Canada.ca</a></li>
            </ol>
        </div>
    </nav>
</header>
<main property="mainContentOfPage" class="container" typeof="WebPageElement">
    <h1 property="name" id="wb-cont">Apports usuels provenant des aliments, 2015</h1>
    <p><strong>De <a href="https://www.canada.ca/fr/services/sante.html"
                       target="_blank">Santé Canada</a></strong></p>


    {# Main content goes here #}
    <section>
        <div class="row">
            <div class="btn-group btn-group-lg btn-group-justified" style="padding:20px 0px;">
                <a class="active btn btn-default btn-primary toolTab" role="button" href="#">À propos de l'outil de données</a>
                <a class="btn btn-default toolTab" role="button" href="distribution_fr">Courbes de
                    distribution</a>
                <a class="btn btn-default toolTab" role="button" href="geographique">Comparaison géographique</a>
                <a class="btn btn-default toolTab" role="button" href="tableau">Tableau de données</a>
                <a class="btn btn-default toolTab" role="button"
                   href="notes_techniques">Notes techniques</a>
            </div>
        </div>
    </section>

    <section>
{#        <div class="row">#}
{#            <h2>On this page</h2>#}
{##}
{#            <ul>#}
{#                <li>#}
{#                    <a href="#a1">About the Usual Intakes Data Tool</a>#}
{#                </li>#}
{#                <li>#}
{#                    <a href="#a2">Usual Intake Dataset on Open Data</a>#}
{#                </li>#}
{#                <li>#}
{#                    <a href="#a3">About the 2015 CCHS-Nutrition</a>#}
{#                </li>#}
{#                <li>#}
{#                    <a href="#a4">Notes for Specific Nutrients</a>#}
{#                </li>#}
{#                <li>#}
{#                    <a href="#a5">Suggested citation</a>#}
{#                </li>#}
{#            </ul>#}
{#        </div>#}
        <div class="row">
            <h2 id="a1">À propos de l'outil de données</h2>

            <p>L'outil de données de surveillance nutritionnelle présente les apports usuels en
                énergie, en nutriments et en autres composants alimentaires en utilisant les données recueillies dans le cadre de
                <a href="https://www.canada.ca/fr/sante-canada/services/aliments-nutrition/surveillance-aliments-nutrition/sondages-sante-nutrition/enquete-sante-collectivites-canadiennes-escc/enquete-sante-collectivites-canadiennes-nutrition-2015-surveillance-aliments-nutrition.html" target="_blank">l'Enquête sur la santé dans les collectivités canadiennes - Nutrition 2015 (ESCC – Nutrition 2015)</a>.
                L'objectif est de compléter <a href="https://open.canada.ca/data/fr/dataset/31599960-2c1e-4d90-a9d9-979ad0e1abb4" target="_blank">l'ensemble des données sur les apports usuels</a>
                 publiées sur le portail des données ouvertes du gouvernement du Canada en
                présentant les données de manière interactive et conviviale.
            </p>

            <p>Cet outil de données permet aux utilisateurs d'examiner les données sur les apports usuels de l'ESCC - Nutrition de 2015 de trois façons :</p>


            <div class="row">
                <div class="col-md-1" style="padding-top: 40px">1)</div>
                <div class="col-md-7" style="padding-top: 40px">Dans un graphique, qui montre la distribution des
                    apports usuels chez les Canadiens pour un nutriment et un groupe âge-sexe
                    d'intérêt et où ces apports se situent par rapport aux Apports nutritionnels
                    de référence (ANREF).
                </div>
                <div class="col-md-4"><a href="distribution_fr">
                    <img class="center-block"
                         style="max-width: 100%; max-height: 230px"
                         src="../static/img/plot.jpeg" alt="Distribution image"></a>
                </div>
            </div>

            <div class="row">
                <div class="col-md-1" style="padding-top: 40px">2)</div>
                <div class="col-md-7" style="padding-top: 40px">Sur une carte du Canada, qui indique le
                    pourcentage d’enfants, d’adolescents et d’adultes de chaque province
                    consommant des apports insuffisants ou excessifs en nutriments d'intérêt.
                </div>
                <div class="col-md-4"><a href="geographique">
                    <img class="center-block"
                         style="max-width: 100%; max-height: 200px"
                         src="../static/img/map.jpeg" alt="Map image"></a>
                </div>
            </div>

            <div class="row">
                <div class="col-md-1" style="padding-top: 40px">3)</div>
                <div class="col-md-7" style="padding-top: 40px">Dans un tableau personnalisable, qui présente
                    les distributions des apports usuels par nutriment, groupe(s) d'âge-sexe
                    et région(s) d'intérêt.
                </div>
                <div class="col-md-4"><a href="tableau">
                    <img class="center-block"
                                           style="max-width: 100%; max-height: 170px"
                                           src="../static/img/table2.jpeg"
                                           alt="Table image"></a>
                </div>
            </div>

{#            <a class="btn btn-default btn-sm text-right col-md-1 col-md-offset-11"#}
{#               href="#wb-cont"#}
{#               style="width: 50px; margin-top: 20px; margin-bottom: 25px"#}
{#               role="button">Top</a>#}
        </div>
        <div class="row">
            <h2 id="a2">Usual Intake Dataset on Open Data</h2>

            <p>L'ensemble des données sur les
                <a href="https://open.canada.ca/data/fr/dataset/31599960-2c1e-4d90-a9d9-979ad0e1abb4"
            target="_blank"> Apports usuels provenant des aliments pour l'énergie, les nutriments
                    et d'autres composants alimentaires (ESCC – Nutrition 2015) </a> peut être
                trouvé sur le portail des données ouvertes du gouvernement du Canada.
            </p>

{#            <a class="btn btn-default btn-sm text-right col-md-1 col-md-offset-11"#}
{#               href="#wb-cont"#}
{#               style="width: 50px"#}
{#               role="button">Top</a>#}
        </div>

        <hr>
        <div class="row">
            <p id="a5"><strong>Citation suggérée:</strong> Outil de données de surveillance
                nutritionnelle, édition 2021. Une initiative conjointe de Santé Canada et
                de l'Agence de la santé publique du Canada.</p>
            <p><strong>Correspondance:</strong> Bureau de la surveillance des aliments et
                de l'intégration des sciences, Direction des aliments, Santé Canada, 251 Sir
                Frederick Banting Driveway, A.L. 2201E, Ottawa, ON K1A 0K9;
                Courriel: nutrition.surveillance-nutritionnelle@hc-sc.gc.ca/p>
            <p><strong>Remerciements:</strong> Le développement de cet outil de données a été
            rendu possible grâce à la collaboration de l'Agence de la santé publique du
            Canada (ASPC) et de Santé Canada. La production des estimations de l'apport a été
            réalisée conjointement par Santé Canada et Statistique Canada.</p>
        </div>
        <a class="btn btn-default btn-sm text-right col-md-1 col-md-offset-11"
               href="#wb-cont"
               style="width: 50px; margin-top: 20px; margin-bottom: 25px"
               role="button">Top</a>
    </section>


    <div class="pagedetails">
        <div class="row">
            <div class="col-sm-6 col-md-5 col-lg-4">
                <details class="brdr-0">
                    <summary class="btn btn-default text-center">Report a problem on this page</summary>
                    <div class="well row">
                        <div class="gc-rprt-prblm">
                            <div class="gc-rprt-prblm-frm gc-rprt-prblm-tggl">
                                <form action="#">
                                    <fieldset>
                                        <legend><span class="field-name">Please select all that apply: </span></legend>
                                        <div class="checkbox">
                                            <label for="problem1"><input type="checkbox" data-reveal="#broken"
                                                                         name="problem" value="Something is broken"
                                                                         id="problem1">Something is broken</label>
                                        </div>
                                        <div class="form-group hide" id="broken">
                                            <label for="problem1-detail">Provide more details (optional):</label>
                                            <input type="text" class="form-control full-width" id="problem1-detail">
                                        </div>
                                        <div class="checkbox">
                                            <label for="problem2"><input type="checkbox" data-reveal="#spelling"
                                                                         name="problem"
                                                                         value="It has spelling or grammar mistakes"
                                                                         id="problem2">The page has spelling or grammar
                                                mistakes</label>
                                        </div>
                                        <div class="form-group hide" id="spelling">
                                            <label for="problem2-detail">Provide more details (optional):</label>
                                            <input type="text" class="form-control full-width" id="problem2-detail">
                                        </div>
                                        <div class="checkbox">
                                            <label for="problem3"><input type="checkbox" data-reveal="#wrong"
                                                                         name="problem" value="The information is wrong"
                                                                         id="problem3">The information is wrong</label>
                                        </div>
                                        <div class="form-group hide" id="wrong">
                                            <label for="problem3-detail">Provide more details (optional):</label>
                                            <input type="text" class="form-control full-width" id="problem3-detail">
                                        </div>
                                        <div class="checkbox">
                                            <label for="problem4"><input type="checkbox" data-reveal="#outdated"
                                                                         name="problem"
                                                                         value="The information is outdated"
                                                                         id="problem4">The information is
                                                outdated</label>
                                        </div>
                                        <div class="form-group hide" id="outdated">
                                            <label for="problem4-detail">Provide more details (optional):</label>
                                            <input type="text" class="form-control full-width" id="problem4-detail">
                                        </div>
                                        <div class="checkbox">
                                            <label for="problem5"><input type="checkbox" data-reveal="#find"
                                                                         name="problem"
                                                                         value="I can’t find what I’m looking for"
                                                                         id="problem5">I can’t find what I’m looking for</label>
                                        </div>
                                        <div class="form-group hide" id="find">
                                            <label for="problem5-detail">Describe what you’re looking for
                                                (optional):</label>
                                            <input type="text" class="form-control full-width" id="problem5-detail">
                                        </div>
                                        <div class="checkbox">
                                            <label for="problem6"><input type="checkbox" data-reveal="#confusing"
                                                                         name="problem" value="It’s confusing"
                                                                         id="problem6">Other</label>
                                        </div>
                                        <div class="form-group hide" id="confusing">
                                            <label for="problem6-detail">Provide more details (optional):</label>
                                            <input type="text" class="form-control full-width" id="problem6-detail">
                                        </div>
                                    </fieldset>
                                    <button type="submit" class="btn btn-primary wb-toggle"
                                            data-toggle='{"stateOff": "hide", "stateOn": "show", "selector": ".gc-rprt-prblm-tggl"}'>
                                        Submit
                                    </button>
                                </form>
                            </div>
                            <div class="gc-rprt-prblm-thnk gc-rprt-prblm-tggl hide">
                                <h3>Thank you for your help!</h3>
                                <p>You will not receive a reply. For enquiries, please <a
                                        href="https://www.canada.ca/en/contact.html">contact us</a>.</p>
                            </div>
                        </div>
                    </div>
                </details>
            </div>
            <div class="wb-share col-sm-4 col-md-3 col-sm-offset-2 col-md-offset-4 col-lg-offset-5"
                 data-wb-share='{"lnkClass": "btn btn-default btn-block"}'></div>
        </div>
        <dl id="wb-dtmd">
            <dt>Date modified:&#32;</dt>
            <dd>
                <time property="dateModified">2017-09-29</time>
            </dd>
        </dl>
    </div>
</main>
<footer id="wb-info">
    <div class="landscape">
        <nav class="container wb-navcurr">
            <h2 class="wb-inv">Au sujet du gouvernement</h2>
            <ul class="list-unstyled colcount-sm-2 colcount-md-3">
                <li><a href="https://www.canada.ca/fr/contact.html" target="_blank">Contactez-nous</a></li>
                <li><a href="https://www.canada.ca/fr/gouvernement/min.html" target="_blank">Ministères et
                    organismes</a></li>
                <li><a href="https://www.canada.ca/fr/gouvernement/fonctionpublique.html" target="_blank"
                >Fonction publique et force militaire</a></li>
                <li><a href="https://www.canada.ca/fr/nouvelles.html" target="_blank">Nouvelles</a></li>
                <li><a href="https://www.canada.ca/fr/gouvernement/systeme/lois.html" target="_blank">Traités,
                    lois et règlements</a></li>
                <li><a href="https://www.canada.ca/fr/transparence/rapports.html" target="_blank">Rapports à
                    l'échelle du gouvernement</a></li>
                <li><a href="https://pm.gc.ca/fra" target="_blank">Premier ministre</a></li>
                <li><a href="https://www.canada.ca/fr/gouvernement/systeme.html" target="_blank">Comment le
                    gouvernement fonctionne</a></li>
                <li><a href="https://ouvert.canada.ca/" target="_blank">Gouvernement ouvert</a></li>
            </ul>
        </nav>
    </div>
    <div class="brand">
        <div class="container">
            <div class="row">
                <nav class="col-md-9 col-lg-10 ftr-urlt-lnk">
                    <h2 class="wb-inv">À propos du site</h2>
                    <ul>
                        <li><a href="https://www.canada.ca/fr/sociaux.html">Médias sociaux</a></li>
                        <li><a href="https://www.canada.ca/fr/mobile.html">Applications mobiles</a></li>
                        <li><a href="https://www1.canada.ca/fr/nouveausite.html">À propos de Canada.ca</a></li>
                        <li><a href="https://www.canada.ca/fr/transparence/avis.html">Avis</a></li>
                        <li><a href="https://www.canada.ca/fr/transparence/confidentialite.html">Confidentialité</a></li>
                    </ul>
                </nav>
                <div class="col-xs-6 visible-sm visible-xs tofpg">
                    <a href="#wb-cont">Haut de la page <span class="glyphicon glyphicon-chevron-up"></span></a>
                </div>
                <div class="col-xs-6 col-md-3 col-lg-2 text-right">
                    <img src="../static/GCWeb/assets/wmms-blk.svg" alt="Symbole du gouvernement du Canada">
                </div>
            </div>
        </div>
    </div>
</footer>
<!--[if gte IE 9 | !IE ]><!-->
<script src="../static/wet-boew/js/jquery/2.2.4/jquery.js"></script>
<script src="../static/wet-boew/js/wet-boew.min.js"></script>
<!--<![endif]-->
<!--[if lt IE 9]>
		<script src="../static/wet-boew/js/ie8-wet-boew2.min.js"></script>

		<![endif]-->
<script src="../static/GCWeb/js/theme.min.js"></script>
</body>
</html>