<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Visualization Directory</title>
    <h3>Visualization Directory</h3>
    <hr>

    <h5><a href="usual-intakes/about">About</a></h5>
    <h5><a href="usual-intakes/distribution">Distribution Visualization</a></h5>
    <h5><a href="usual-intakes/geographic">Geographic Visualization</a></h5>
    <h5><a href="usual-intakes/data-table">Data Table</a></h5>
    <h5><a href="usual-intakes/technical-notes">Technical Notes</a></h5>
    <h5><a href="apports-usuels/a-propos">A propos</a></h5>
    <h5><a href="apports-usuels/distribution">Courbes de distribution</a></h5>
    <h5><a href="apports-usuels/geographique">Comparaison géographique</a></h5>
    <h5><a href="apports-usuels/tableau">Tableau de données</a></h5>
    <h5><a href="apports-usuels/notes-techniques">Notes techniques</a></h5>

</head>
<body>

</body>
</html>